// 1. Import the initial variables
@import "./../../node_modules/bulma/sass/utilities/initial-variables";




// 2. Set your own initial variables
// Update blue
// $blue: #72d0eb;
// Add pink and its invert
$pink: #ffb3b3;
$pink-invert: #fff;


// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma
@import "./../../node_modules/bulma/bulma";
